@model CreatePackageViewModel

@{
    ViewBag.Title = "Crear Paquete";
}
<link href="~/css/restaurant2.css" rel="stylesheet" />
<div class="container create_container">

    <h1>Crear Paquete</h1>

    <form asp-action="Create" method="post">
        <div class="form-group input_create">
            <label asp-for="@Model.Packages.Nombre">Nombre</label>
            <input asp-for="@Model.Packages.Nombre" class="form-control" />
            <span asp-validation-for="@Model.Packages.Nombre" class="text-danger"></span>
        </div>
        <div class="form-group input_create">
            <label asp-for="@Model.Packages.Descripcion">Descripción</label>
            <textarea asp-for="@Model.Packages.Descripcion" class="form-control"></textarea>
            <span asp-validation-for="@Model.Packages.Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group input_create">
            <label asp-for="@Model.Packages.Precio">Precio</label>
            <input asp-for="@Model.Packages.Precio" class="form-control" />
            <span asp-validation-for="@Model.Packages.Precio" class="text-danger"></span>
        </div>
        <div class="form-group ">
            <input type="submit" value="Crear paquete" class="btn btn-outline-success" />
            <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

