@model IEnumerable<ListPackageDTO>

@{
    ViewBag.Title = "Paquetes";
}
<link href="~/css/restaurant2.css" rel="stylesheet" />
<div class="container read_container">

    <h1>Paquetes</h1>

    <a asp-action="Create" class="btn btn-outline-success">Crear Nuevo Paquete</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="row-@item.Id">
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Precio</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Editar</a>
                        <button onclick="deletePaquete(@item.Id)" class="btn btn-outline-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function deletePaquete(id) {
        if (window.confirm("¿Estás seguro de que deseas eliminar este paquete?")) {
            fetch(`/package/Delete/${id}`, {
                method: 'DELETE'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("Paquete eliminado con éxito");
                        // Eliminando la fila del paquete.
                        document.getElementById(`row-${id}`).remove();
                    } else {
                        alert("Error al eliminar el paquete");
                    }
                });
        }
    }
</script>