@model IEnumerable<ListFactureDTO>

@{
    ViewData["Title"] = "Factures";
}

<link href="~/css/facture.css" rel="stylesheet" />

<div class="container read_container">
    <h1> Facturas </h1>
    <a href="@Url.Action("Create", "Facture")" class="btn btn-outline-success mb-3">Crear Factura</a>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha Reservacion</th>
                        <th scope="col">Fecha Emision</th>
                        <th scope="col">Monto</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var factures in Model)
                    {
                        <tr>
                            <th scope="row">@factures.Id</th>
                            <td>@factures.Reservacion</td>
                            <td>@factures.FechaEmision</td>
                            <td>@factures.Monto</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
