@model IEnumerable<ListClienteDTO>

@{
    ViewData["Title"] = "Clientes";
}

<link href="~/css/client.css" rel="stylesheet" />

<div class="container read_container">
    <h1>Clientes</h1>
    <a href="@Url.Action("Create", "Client")" class="btn btn-outline-success mb-3">Crear Cliente</a>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var client in Model)
                    {
                        <tr>
                            <th scope="row">@client.Id</th>
                            <td>@client.Nombre</td>
                            <td>@client.Telefono</td>
                            <td>@client.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>