@model IEnumerable<ReservacionViewModel>

@{
    ViewBag.Title = "Lista de Reservaciones";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre de Habitación</th>
            <th>Paquete</th>
            <th>Fecha de Inicio</th>
            <th>Fecha Fin</th>
            <th>Activa</th>
            <th>Email del Usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row-@item.Reservacion.Id">
                <td>@item.Reservacion.Habitacion</td>
                <td>@item.Reservacion.Paquete</td>
                <td>@item.Reservacion.FechaInicio.ToString("dd/MM/yyyy")</td>
                <td>@item.Reservacion.FechaFin.ToString("dd/MM/yyyy")</td>
                <td>@(item.Reservacion.Activa ? "Activa" : "Desactivada")</td>
                <td>@item.UsuarioEmail</td>
                <td>
                    <button onclick="deleteReservation(@item.Reservacion.Id)" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function deleteReservation(id) {
        if (window.confirm("¿Estás seguro de que deseas eliminar esta reservación?")) {
            fetch(`/Reservacion/Delete/${id}`, {
                method: 'DELETE'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("Reservación eliminada con éxito");
                        // eliminando la fila de la reservación.
                        document.getElementById(`row-${id}`).remove();
                    } else {
                        alert("Error al eliminar la reservación");
                    }
                });
        }
    }
</script>

