@model CreateReservationModel

<h2>Reservación</h2>

<div class="container">
    @if (Model.Habitacion.Imagen != null)
    {
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Habitacion.Imagen)" alt="Imagen de la habitación" class="img-fluid" />
    }
    else
    {
        <img src="~/img/alone.jpeg" alt="Imagen de la habitación" class="img - fluid" />
    }
    <h4>Número de habitación: @Model.Habitacion.NumeroHabitaciones</h4>
    <p>Descripción: @Model.Habitacion.TipoHabitacion</p>
    <p>Capacidad: @Model.Habitacion.Capacidad</p>
    <form method="post" asp-action="Reservar">
        <input type="hidden" asp-for="Habitacion.Id" />
        <div class="form-group">
            <label for="paquete">Paquete</label>
            <select class="form-control" id="paquete" name="PaqueteSeleccionado">
                @foreach (var paquete in Model.PaquetesDisponibles)
                {
                    <option value="@paquete.Id">@paquete.Nombre</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="FechaInicio">Fecha de inicio</label>
            <input type="date" class="form-control" id="fechaInicio" name="FechaInicio" asp-for="FechaInicio" required>
        </div>
        <div class="form-group">
            <label asp-for="FechaFin">Fecha de fin</label>
            <input type="date" class="form-control" id="fechaFin" name="FechaFin" asp-for="FechaFin" required>
        </div>
        <div class="form-group">
            <label for="dias">Días</label>
            <input type="text" class="form-control" id="dias" name="Dias" readonly>
        </div>
        <div class="form-group">
            <label for="total">Total</label>
            <input type="text" class="form-control" id="total" name="Total" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Reservar</button>
    </form>
</div>

<script>
    document.getElementById("fechaInicio").addEventListener("change", calcularTotal);
    document.getElementById("fechaFin").addEventListener("change", calcularTotal);

    function calcularTotal() {
        var fechaInicio = new Date(document.getElementById("fechaInicio").value);
        var fechaFin = new Date(document.getElementById("fechaFin").value);
        var dias = Math.floor((fechaFin - fechaInicio) / (1000 * 60 * 60 * 24)) + 1;
        document.getElementById("dias").value = dias;
        document.getElementById("total").value = dias * @Model.Habitacion.Precio;
    }
</script>
