@model List<RestauranteViewModel>
@{
    ViewData["Title"] = "Lista de Restaurantes";
}

<link rel="stylesheet" href="~/css/restaurant2.css" />

<div class="container read_container">
    <h1>@ViewData["Title"]</h1>
    <a asp-action="Create" style="position: relative; left: 1px;" class="btn btn-outline-success">Crear Nuevo Restaurante</a>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Menú</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Restaurante.Nombre</td>
                    <td>@item.NombreMenu</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Restaurante.Id" class="btn btn-outline-primary btn-sm">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Restaurante.Id" class="btn btn-outline-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function deleteRes(id) {
            if (window.confirm("¿Estás seguro de que deseas eliminar este Restaurante?")) {
                fetch(`/restaurant/delete/${id}`, {
                    method: 'DELETE'
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert("Restaurante eliminado con éxito");
                            // eliminando la fila del menú.
                            document.getElementById(`row-${id}`).remove();
                        } else {
                            alert("Error al eliminar el restaurante");
                        }
                    });
            }
        }
    </script>
}